
<footer class="bg-dark text-white mt-5 p-4 text-center">
  <div class="footer">
    <div class="row">
      <div class="col-md-6">
        <h5>About Real Coders</h5>
        <p>Real Coders is a platform where you can find solutions to your coding errors and improve your coding skills.</p>
      </div>
      <div class="col-md-6">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
          <li><a href="{% url 'blog' %}" class="text-white">Blog</a></li>
         
        </ul>
      </div>
     
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <p>&copy; {{ year }} Real Coders. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
